* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
 
:root {
    --color-primary: #6c63ff; 
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842; 
    --color-danger-variant: #rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: #rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890; 

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease; 

}

body {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}



.container {

    width: var(--container-width-lg);
    margin: 0 auto; 
}

section {
    padding: 6rem 0;
    display:grid;
    text-align: center;
    
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2,h3, h4, h5, {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

a {
    color: var(--color-white);
}

img {
    width: 70px;
    height: 70px; 
    display: block;
    object-fit: contain;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 5px 10px;
    border: 1px solid transparent; 
    font-weight: 500; 
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}


 /* ============== NAVBAR ==========*/
nav {
    background: transparent;
    width: 100vw; /*view port width on all devices is 100% */
    height: 5rem;
    position: fixed; 
    top 0; 
    z-index: 11;
    padding-left: 9rem;
    padding-right: 3rem;
   
}

/* Change navbar style on scroll using JavaScript */
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem, rgba(0, 0, 0, 0.2);
}

.nav__container {
    height: 10%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgba(31, 38, 65, 0.5);;
    width: 100%;    
}

.nav__logo h4 {
    text-align: right;

}

nav button {
    display: none;
}

.nav__menu {
    display:flex;
    align-items: center;
    gap: 4rem;
    

}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);

}

.nav__menu a:hover {
    color: var(--color-bg2);
    text-decoration: underline;
}




/* ============== CATEGORIES ==========*/


   .category__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /*grid-template-columns: auto auto;  Two equal-width columns
    gap: auto;*/
    
   }

   .categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
   }

   .categories__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    width: Auto;
   }

   .course {
    background: var(--color-bg2);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
   }

   .course:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
   }


   .course h5 {
    margin: 2rem 0 1rem;
   }

   .course p {
    margin: 1.2rem 0 2rem;
    font-size: 0.85rem;
   }

   .container.category__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 columns */
    grid-template-rows: repeat(1, auto); /* 2 rows, adjust as needed */
    gap: 5px; /* Adjust the gap between items as needed */
}

.cat_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px; /* Adjust the gap between the columns as needed */
}

.content_cat_right {
    padding: 10px;
    margin: auto;
    height: 100%;
    background-color: #31356d;
}

.course__image img {
    width: 100%; /* Adjust the width as per your requirement */
    height: 100%; /* Maintain aspect ratio */
    object-fit: contain;
    position: center;
}

.course__image {
    justify-content: center; 
    align-items: center;
    margin: auto;
    
    max-width: 17%; 
    max-height: 10%; 
    object-fit: contain;
   }

   .footer__container {
    text-align: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    text-align: center;
    

}

.footer { 
    background: var(--color-bg1);;
}

.footer__container h4 {
    font-size: 1.3rem;
}

.footer__container p {
    font-size: 0.8rem;
    padding-top: 0.2rem;
    
}

.footer__container li {
    font-size: 0.8rem;
    padding: 0.5rem 0 0;
    
    
}


.footer__container ul li a:hover {
   cursor: pointer;
   text-decoration: underline;
}

.footer__container > div h4 {
    margin-top:2rem;
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}

.footer__copyright a:hover {
    text-decoration: underline;
    cursor: pointer;
}
