* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: #F9FEFF;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.sign-up {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #9835FF;
    border-radius: 8px;
    background-color: #FFF;
    max-width: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.inpu {
    border: 0px solid #FFF;
    border-bottom: 1px solid #9835FF;
    padding: 7px;
    width: 100%;
    background-color: #FFF;
    margin: 12px auto;
    border-radius: 10px;
    transition: border-color 0.5s;
}
.inpu:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.inpu:focus {
    outline: none;
    border-color: #56B6C4; /* Change border color on focus */
}
.error {
    border-color: #FF0000; /* Red border color for errors */
}
.txt {
    font-size: 14px;
    background-color: #FFF;
    font-weight: 200;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}
.center img {
    max-width: 100%;
    height: 36px;
    background-color: #FFF;
}
.text-1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -35px;
}
.p-2 {
    font-size: 14px;
    text-align: justify;
    background-color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.policy {
    color: #9835FF;
    background-color: #FFF;
    font-weight: 300;
}
.but-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #FFF;
    background: #9835FF;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #9835FF;
    border-radius: 5px;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}
.but-1:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.txt-2 {
    font-size: 14px;
    background-color: #FFF;
    font-weight: 200;
    margin-top: 10px;
    text-align: center;
}
.password-input {
    position: relative;
}
.password-input input {
    border: 0px solid #FFF;
    border-bottom: 1px solid #9835FF;
    padding: 7px;
    width: 100%;
    background-color: #FFF;
    margin: 12px auto;
    border-radius: 10px;
    transition: border-color 0.5s;
}
.toggle-password-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}
.fa-eye {
    font-size: 18px;
    color: #333; /* Icon color */
}
.password-visible .fa-eye {
    color: #9835FF; /* Icon color when password is visible */
    border: 1px solid #9835FF; /* Add a stroke to the icon */
    border-radius: 50%; /* Make it circular */
    padding: 2px; /* Adjust padding for the stroke */
}
